{% extends "bootstrap/base.html" %}

{% block title %}retesviluppo{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">reteSviluppo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('esplora') }}">aggiungi dataset</a></li>
                <li><a href="https://youtu.be/_mAUeYVQM3k" >video-tutorial per utilizzare il software</a></li>
                <li><a href="https://marco_scarselli@bitbucket.org/marco_scarselli/eurostat_map.git" >Contribuisci: repository GIT</a></li>



            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


