<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>


{% block content %}

<form  action="{{ url_for('ridotto') }}"  method="POST">


    <div class = "container-fluid">
        <div class ="row">
        <div class ="col-md-8">
        <div class = "row">


        {% for dataset in dizionario_dataset %}

                    <h1> {{dataset}} - {{ dizionario_dataset[dataset]["titolo"]}} </h1>
                        {% for variabili in dizionario_dataset[dataset]["codici_variabili"] %}
                        {% if not variabili == "CL_GEO" %}
                        <h2>{{variabili}}</h2>
                            <div class="select">
                                <select name = {{dataset}}|{{variabili}} aria-label="settore">
                                <option selected value = "None"> scegli la variabile </option>
                                    {% for stati in dizionario_dataset[dataset]["codici_variabili"][variabili] %}
                                    <option name = {{dataset}}|{{variabili}}, value = {{stati}} >
                                    codice: {{stati}} - {{dizionario_dataset[dataset]["codici_variabili"][variabili][stati]}}<br>
                                    </option>

                                    {% endfor %}
                                {% endif %}
                                </select>
                                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}


            <div class ="col-md-4">
                <h2>Operazioni:</h2>
                <button class="btn btn-default btn-primary">Seleziona tutte le dimensioni ed effettua la riduzione</button>
            </div>
        </div>
        </div>
</form>
{% endblock%}
