
{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



{% block content %}

<h1>retesviluppo, applicazione per esplorazione dati</h1>

<iframe width="600" height="315" src="https://www.youtube.com/embed/_mAUeYVQM3k" frameborder="0" allowfullscreen></iframe>
{#
<!--
<form action="{{ url_for('esplora') }}">
    <button>esamina lista dataset presenti in eurostat e scarica nel server </button>
</form>
-->
#}

<h2>dataset presenti nel sistema</h2>

<h3>spuntare il dataset e premere il bottone per selezionare le dimensioni, premere su download per scaricare il file excel</h3>

<div class = "container">
<form action="{{ url_for('riduci') }}" method="POST" name="dataset">

    <div class = "row">
        <div class = "col-md-4">
    <button type="submit" class="btn btn-default btn-primary">seleziona dataset - massimo 2 per effettuare operazioni fra dataset</button>
    </div>
    <div class = "row">

    <div class = "col-md-8">
    {% for item in dataset_presenti %}
        <div class="checkbox"> <label> <input type="checkbox" name="dataset" value="{{ item }}">
            "{{ item }}",  "{{ lista_dataset[item]}} " - <a href="{{url_for('static', filename='excel/' + item + '.xlsx') }}" > download excel </a> -
            <a href="{{ url_for('rimuovi', item=item) }}" method="POST"> Rimuovi </a>   </label>
        </div>

    {% endfor %}
    <div/>

    </div>
    </div>
</form>
</div>



</body>

</html>

{% endblock %}