{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



{% block content %}
<div class = "row">
    <div class = "col-md-4">
        <h1> Pagina per inserire manualemente i dati nella mappa - livello regionale, stato Italia</h1>
    </div>
</div>
<form action="{{ url_for('risultato_operazione') }}" method="POST">

        {% for item in italia %}

        <div class = "row">
        <div class = "col-md-4">
        <div class="form-group">

                <label for="usr" Name = "{{item}}" >Assegnare un valore a {{italia[item]["Nome"]}}</label>
                <input type="text" class="form-control" id="usr" Name = "{{item}}">
        </div>
        </div>
        <div class = "col-md-8">
        </div>
        </div>

        {% endfor %}





        <div class = "container-fluid">

            <div class = "row">
                <div class = "col-md-12">

                <div class = "col-md-12">
                    <h2>Selezionare la polarità dei scala (legenda):</h2>
                <div class = "select">
                    <select name = "polar" aria-label="polarità">
                            <option selected value = "None"> Seleziona la polarità della scala </option>
                                <option name = "polar" value = "positiva" >"positiva"</option>
                                <option name = "polar" value = "negativa" >"negativa"</option>
                    </select>
                    </div>
                </div>
                <div class = "col-md-12">
                    <h2>seleziona un valore di moltiplicazione (utile nel caso i valori siano molto piccoli):</h2>
                <div class = "select">
                    <select name = "moltiplicatore" aria-label="moltiplicatore">
                            <option selected value = 1> Seleziona un valore</option>
                                <option name = "moltiplicatore" value = 1 >1</option>
                                <option name = "moltiplicatore" value = 1000 >1000</option>
                                <option name = "moltiplicatore" value = 1000000 >1000000</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2> seleziona il valore visualizzato nella mappa: ultimo disponibile o media della serie storica</h2>
                    <div class = "select">
                    <select name = "anno" aria-label="anno">

                            <option selected value = "None"> seleziona: ultimo disponibile o media </option>
                                {% for item in anni %}
                                <option name = "anno" value = "{{item}}" >{{item}}</option>
                                {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="usr" Name = "anno grafico">Anno di riferimento della mappa:</label>
                <input type="text" class="form-control" id="usr" Name = "anno grafico">
            </div>

            <div class="form-group">
                <label for="usr" Name = "nome_grafico">Assegnare un nome alla mappa mappa:</label>
                <input type="text" class="form-control" id="usr" Name = "nome_grafico">
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2>Esegui calcolo e passa alla mappa</h2>
                    <button type="submit" class="btn btn-default btn-primary"> Vai al passaggio successsivo </button>
                </div>
            </div>
        </div>




</form>

{% endblock %}