<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>


{% block content %}

<body>
<form action="{{ url_for('aggiungi') }}" method="POST" name="dataset">
    <button> selezionato </button><br>
    {% for item in lista_dataset %}
        <input type="radio" name="dataset" value="{{ item }}"> "{{ item }}",  "{{ lista_dataset[item] }}"<br>

    {% endfor %}
<form>



</body>
</html>

{% endblock %}