{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



{% block content %}

        <!DOCTYPE html>
<html>


<head>
	<title>reteSviluppo Map</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />

    Leaflet -->





	<link rel="stylesheet" href="http://retesviluppo.it/lib/leaflet.css" />
	<script src="http://retesviluppo.it/lib/leaflet.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" />

	<style>
		#map {
			width: 1000px;
			height: 600px;
		}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 18px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
	</style>
</head>
<body>
    {% if dataset_solo %}
    <h1> {{dataset_solo}}
    {% else %}
    <h1> {{operatore1}} {{operazione}} {{operatore2}}</h1>
    {% endif %}


    <h2>Nome grafico: {{nome_grafico}}</h2>
	<div id="map"></div>



	<!-- <script src=http://leafletjs.com/dist/leaflet.js></script>-->
    <script type="text/javascript">

            var anno_js = "{{anni}}"

            var grades = {{gradi | safe }} ;var descrizione = "<h4> {{nome_grafico}} </h4>";var anno = anno_js ;
        {% if scala == "positiva" %}
            function getColor(d) {
            return d == "Non disponibile" ? '#FFFFFF':
            d > grades[6]   ? '#EB000F':
            d > grades[5]   ? '#FF4341':
            d > grades[4]   ? '#E9A628' :
            d > grades[3]   ? '#DED81C' :
            d > grades[2] ? '#9AD312' :
            d > grades[1] ? '#52C808' :
            d >= grades[0] ? '#0CBD00':
            '#FFFFFF';
            }
        {% else %}
            function getColor(d) {
            return d == "Non disponibile" ? '#FFFFFF':
            d <= grades[0] ? '#EB000F':
            d < grades[1] ? '#FF4341' :
            d < grades[2] ? '#E9A628' :
            d < grades[3]   ? '#DED81C' :
            d < grades[4]   ? '#9AD312' :
            d < grades[5]   ? '#52C808':
            d < grades[6]   ? '#0CBD00':
            '#FFFFFF';
            }

        {% endif %}
        function decimali(numero) {
                return parseFloat(numero).toFixed(2)

                }



                // control that shows state info on hover
                var info = L.control();

                info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
                };


                // cambiare le proprietà da mettere in rilievo  -->  attributi props.

                info.update = function (props, anno) {
                this._div.innerHTML = descrizione +  (props ?
                    '<b>' + props.Nome + '</b><br />'
                    +"classifica-rank ="  + props["rank"] + '</b><br />'
                    + anno + "="  + decimali(props[anno] )
                                    // cambiare unità
                    : 'punta una regione');
                };


                function style(feature) {
                return {
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7,
                    fillColor: getColor(feature.properties.rank) // cambiare propriet
                };
                }



                var legend = L.control({position: 'bottomright'});

                legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                    labels = [],
                    from, to;

                for (var i = 0; i < grades.length - 1; i++) {
                    from = grades[i];
                    to = grades[i + 1];

                    labels.push(
                        '<i style="background:' + getColor(from + 1) + '"></i> ' +
                        from + (to ? '&ndash;' + String(parseInt(to) - 1) : '+'));
                }

                div.innerHTML = labels.join('<br>');
                return div;
                };


    </script>
	<script type="text/javascript">

        var mappa = {{mappa | safe}}


	</script>
	<script type="text/javascript">

		var map = L.map('map').setView([43, 10], 4);

		L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 10,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a> ' +
                ''
        }).addTo(map);


// cambiare le proprietà da mettere in rilievo  -->  attributi props.

		info.addTo(map);


		// get color depending on population density value




		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties, anno);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}

        var test = mappa



		geojson = L.geoJson( test


        , {
			style: style,
			onEachFeature: onEachFeature
		}).addTo(map);

		map.attributionControl.addAttribution('elaborazioni <a href="http://www.retesviluppo.it"  target="_blank">reteSviluppo</a> su dati <a href="http://ec.europa.eu/eurostat"  target="_blank">Eurostat</a>');




		legend.addTo(map);





</script>


<a href="./static/excel_output/{{excel_code}}.xlsx"> <button class="btn btn-default btn-primary" onClick ="$('table').tableExport({type:'excel',escape:'false'});">       Esporta in Excel       </button> </a>
<a href="./static/geojson/{{geojson_code}}.geojson"> <button class="btn btn-default btn-primary" onClick ="$('table').tableExport({type:'excel',escape:'false'});">       Esporta in geojson       </button> </a>


<div class="table-responsive">
{{dati_html | safe}}
</div>







{% endblock %}



{% block scripts %}
{{ super() }}


    <script src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function(){
            $("td").css("font-size","75%");
            $("table").addClass( "display" );
            $('table').DataTable(
                {
                "paging":   false,
                }
            );
        }

        )
        </script>

{% endblock %}