{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



{% block content %}



<form action="{{ url_for('risultato_operazione') }}" method="POST">
        <div class = "container-fluid">
            <div class="row">
                <div class = "col-md-4">
                <h2>{{operatore[0]}}: {{risultati[0]}}</h2>

                <div class = "select">
                <select name = {{risultati[0]}} aria-label="elemento1">
                        <option selected value = "None"> scegli il ruolo dell'operatore1 </option>
                        <option name = {{risultati[0]}} value = "solo" >"esegui il calcolo del singolo dataset"</option>
                        <option name = {{risultati[0]}} value = "primo" >"prendi il dataset come primo elemento dell'operazione "</option>
                        <option name = {{risultati[0]}} value = "secondo" >"prendi il dataset come secondo elemento dell'operazione "</option>

                </select>
                </div>
                </div>

                <div class = "col-md-4">
                <h2>operazione:</h2>
                <div class = "select">
                    <select name = "operazione" aria-label="operazione">
                            <option selected value = "None"> scegli l'operazione </option>
                                <option name = "operazione" value = "divisione" >"divisione"</option>
                                <option name = "operazione" value = "moltiplicazione" >"moltiplicazione"</option>
                                <option name = "operazione" value = "somma" >"somma"</option>
                                <option name = "operazione" value = "sottrazione" >"sottrazione"</option>
                    </select>
                    </div>
                </div>

                <div class = "col-md-4">
                    <h2>{{operatore[1]}}: {{risultati[1]}}</h2>
                    <div class = "select">
                    <select name = {{risultati[1]}} aria-label="elemento2">
                            <option selected value = "None"> scegli il ruolo dell'operatore2 </option>
                                <option name = {{risultati[1]}} value = "primo" >"prendi il dataset come primo elemento dell'operazione "</option>
                                <option name = {{risultati[1]}} value = "secondo" >"prendi il dataset come secondo elemento dell'operazione "</option>
                                <option name = {{risultati[1]}} value = "solo" >"esegui il calcolo del singolo dataset"</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2>Selezionare livello Nuts (nazionale = Nuts0, regionale = Nuts2, provinciale = Nuts3):</h2>
                <div class = "select">
                    <select name = "nuts" aria-label="livello nuts">
                            <option selected value = "None"> Scegli il livello nuts </option>
                                <option name = "nuts" value = "nuts0" >"nuts0"</option>
                                <option name = "nuts" value = "nuts2" >"nuts2"</option>
                                <option name = "nuts" value = "Italia nuts2" >"Italia nuts2"</option>

                        <!--    ancora da sistemare il livello nuts3
                                <option name = "nuts" value = "nuts3" >"nuts3_2013"</option>
                                <option name = "nuts" value = "nuts3_2010" >"nuts3_2010"</option>
                                <option name = "nuts" value = "nuts2_valori_natural_break">"nuts2_valori_natural_break"</option>
                          -->
                    </select>
                    </div>
                </div>
                <div class = "col-md-12">
                    <h2>Selezionare la polarità dei scala (legenda):</h2>
                <div class = "select">
                    <select name = "polar" aria-label="polarità">
                            <option selected value = "None"> Seleziona la polarità della scala </option>
                                <option name = "polar" value = "positiva" >"positiva"</option>
                                <option name = "polar" value = "negativa" >"negativa"</option>
                    </select>
                    </div>
                </div>
                <div class = "col-md-12">
                    <h2>seleziona un valore di moltiplicazione (utile nel caso i valori siano molto piccoli):</h2>
                <div class = "select">
                    <select name = "moltiplicatore" aria-label="moltiplicatore">
                            <option selected value = 1> Seleziona un valore</option>
                                <option name = "moltiplicatore" value = 1 >1</option>
                                <option name = "moltiplicatore" value = 1000 >1000</option>
                                <option name = "moltiplicatore" value = 1000000 >1000000</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2> seleziona il valore visualizzato nella mappa fra le scelte a disposizione</h2>
                    <div class = "select">
                    <select name = "anno" aria-label="anno">

                            <option selected value = "None"> seleziona anno disponibile </option>
                                {% for item in anni %}
                                <option name = "anno" value = "{{item}}" >{{item}}</option>
                                {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="usr" Name = "nome_grafico">Assegnare un nome alla mappa mappa:</label>
                <input type="text" class="form-control" id="usr" Name = "nome_grafico">
            </div>

            <div class = "row">
                <div class = "col-md-12">
                    <h2>Esegui calcolo e passa alla mappa</h2>
                    <button type="submit" class="btn btn-default btn-primary"> Vai al passaggio successsivo </button>
                </div>
            </div>
        </div>




</form>

{% endblock %}