
{% extends "base.html" %}
{% block title %}retesviluppo app{% endblock %}



{% block content %}
<form action = "{{ url_for('funzione_rimuovi', item = item) }}" method="POST">
<p> per rimuovere {{ item }} inserire la password amministratore
<input type="password" name="password">

<button type="submit"> esegui rimozione </button>
</form>
{% endblock %}